body{
	font-family: "Raleway", sans-serif;
	text-align: center;
}

.profile-image {
	width: 300px;
	border-radius: 50%;
}

.article-image {
	height: 400px;
}

.nav-container {
	margin-bottom: 3rem;
}

.nav-container li {
	display: inline;
	list-style: none;
}

.nav-container i {
	color: black;
	margin: 0 0.5rem;
	font-size: 1.5rem;
	opacity: 0.75;
	text-decoration: none;
}

.nav-container select {
	font-size: 1rem;
}

.favorite-container {
	margin-top: 3.5rem;
}

.favorite-container img {
	width: 100px;
	height: 100px;
}

.related-articles-container {
	padding-top:1rem;
	margin:auto;
	width: 50%;
	text-align:left;
}
